---
layout: layouts/list.njk
title: Our Projects
description: Protests, exhibitions, and initiatives
permalink: /projects/
---
<div class="grid grid-3">
{% for project in collections.projects %}
  <a href="{{ project.url }}" class="card card-link">
    <img src="{{ project.data.thumbnail }}" alt="{{ project.data.title }}" class="card-thumbnail">
    <h3 class="card-title">{{ project.data.title }}</h3>
    <p class="card-description">{{ project.data.description }}</p>
  </a>
{% endfor %}
  <a href="/fanzins/" class="card card-link">
    <img src="/assets/projects/project3.jpg" alt="Weekly Mini Newspaper" class="card-thumbnail">
    <h3 class="card-title">Weekly Mini Newspaper aka "Fanzin"</h3>
    <p class="card-description">We write a mini weekly newspaper in English to make sure you're up to date. Trust us, we know it's not easy</p>
  </a>
</div>
