---
layout: layouts/base.njk
---
<div class="container content">
  <header class="page-header">
    <h1 class="page-title">{{ title }}</h1>
    {% if description %}
    <p class="page-description">{{ description }}</p>
    {% endif %}
  </header>
  {{ content | safe }}
</div>
